apiVersion: apps/v1
kind: Deployment
metadata:
  name: backend-deployment
  labels:
    app: backend
spec:
  replicas: 2
  selector:
    matchLabels:
      app: backend
  template:
    metadata:
      labels:
        app: backend
    spec:
      containers:
        - name: backend-container
          image: 049061799945.dkr.ecr.ap-northeast-1.amazonaws.com/shopping-site-backend:8a2da9f9960fa204f75991a192a985c4560c657c
          ports:
            - containerPort: 5000
